
$font_family_body:'Raleway', sans-serif;
$color_h1: black;
$height_h1:35px;
$font_family_h1: 'Raleway', sans-serif;

$color_a_nav: white;
$font_family_nav: 'Raleway', sans-serif;

$color_h2: black;
$font_family_h2: 'Raleway', sans-serif;
$color_p: black;
$font_family_p: 'Raleway', sans-serif;

$font_family_footer: 'Raleway', sans-serif;
$color_p_footer: black;
